{{if .}}
  <section class="section">
    <header>
      <h2 class="section-title">Awards</h2>
    </header>
    <section id="awards">
      {{range .}}
        <section class="award-item">
          {{if .summary}}
          <!-- todo index -->
            <label for="award-item-1"></label>
          {{end}}

          <header class="clear">
            {{if .date}}
              <div class="date">
                {{toYear .date}}
              </div>
            {{end}}
            <div class="header-left">
              {{if .title}}
                <div class="title">
                  {{.title}}
                </div>
              {{end}}
              {{if .awarder}}
                <div class="awarder">
                  {{.awarder}}
                </div>
              {{end}}
            </div>
          </header>

          <div class="item">
            {{if .summary}}
              <div class="summary">{{paragraphSplit .summary}}</div>
            {{end}}
          </div>
        </section>
      {{end}}
    </section>
  </section>
{{end}}