{{if .}}
  <section class="section">
    <header>
      <h2 class="section-title">Certificates</h2>
    </header>
    <section id="certificates">
      {{range .}}
        <section class="certificate-item">
          <header class="clear">
            {{if .date}}
              <div class="date">
                {{.date}}
              </div>
            {{end}}
            <div class="header-left">
              {{if .name}}
                <div class="name">
                  {{.name}}
                </div>
              {{end}}
              {{if .issuer}}
                <div class="issuer">
                  {{.issuer}}
                </div>
              {{end}}
            </div>
          </header>

          <div class="item">
            {{if .url}}
              <span class="url">
                <span class="fas fa-external-link-alt"></span>
                <a target="_blank" href="{{.url}}">{{.url}}</a>
              </span>
            {{end}}
          </div>
        </section>
      {{end}}
    </section>
  </section>
{{end}}