{{if .}}
<section class="section">
	<header>
		<h2 class='section-title'>Skills</h2>
	</header>
	<section id="skills">
        {{range .}}
		<div class="item">
			{{if .name}}
			<h3 class="name">
				{{.name}}
			</h3>
			{{end}} {{if .level}}
			<div class="level {{toLowerCase .level}}">
				{{if .levelDisplay}}
				<em>{{.levelDisplay}}</em>
				{{else}}
				<em>{{.level}}</em>
				{{end}}
				<div class="bar"></div>
			</div>
			{{end}}
			{{if (len .keywords)}}
			<ul class="keywords">
                {{range .keywords}}
				<li>{{.}}</li>
				{{end}}
			</ul>
			{{end}}
		</div>
		{{end}}
	</section>
</section>
{{end}}