{{if .}}
<section class="section">
  <header>
    <h2 class='section-title'>Volunteer</h2>
  </header>
  <section id="volunteer">
    {{range .}}
    <section class="volunteer-item">
      {{if .organization}}

      {{if .summary}}
      <!-- todo index -->
      <label for="volunteer-item-1"></label>
      {{end}}

      <header class="clear">
         <div class="date">
          {{if .startDate}}
          <span class="startDate">
            {{toMonthYear .startDate}}
          </span>
          {{end}}
          {{if .endDate}}
          <span class="endDate">
            - {{toMonthYear .endDate}}
          </span>
          {{else}}
          <span class="endDate">
            - Current
          </span>
          {{end}}
        </div>
        <div class="header-left">
          {{if .position}}
          <div class="position">
            {{.position}}
          </div>
          {{end}}
          <div class="organization">
            {{.organization}}
          </div>
        </div>
       
      </header>
      {{end}}
      {{if .website}}
      <div class="website">
        <span class="fas fa-external-link-alt"></span>
        <a target="_blank" href="{{.website}}">{{.website}}</a>
      </div>
      {{end}}
      {{if .location}}
      <span class="location">
        <span class="fas fa-map-marker-alt"></span>
        {{if .location.city}}
        <span class="city">
          {{.location.city}},
        </span>
        {{end}}
        {{if .location.countryCode}}
        <span class="countryCode">
          ({{.location.countryCode}})
        </span>
        {{end}}
        {{if .location.region}}
        <span class="region">
          {{.location.region}}
        </span>
        {{end}}
      </span>
        {{end}}
      {{if .keywords}}
      <ul class="keywords">
        {{range .keywords}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{end}}
      <div class="item">
        {{if .summary}}
        <div class="summary">{{paragraphSplit .summary}}</div>
        {{end}}
        {{if (len .highlights)}}
        <ul class="highlights">
          {{range .highlights}}
          <li>{{paragraphSplit .}}</li>
          {{end}}
        </ul>
        {{end}}
      </div>
    </section>
    {{end}}
  </section>
</section>
{{end}}